/* General website component styling */
nav {
    background-color: red;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 40rem;
}

.website-header {
    background-color: yellow;
}

/* Home page styling */
.calculator-box {
    background-color: blue;
}

/*About us page styling */
.about-us {
    background-color: green;
}
