@import url(//db.onlinewebfonts.com/c/3abd2fe795c6d15e5cd1ffce0afc50a8?family=Casey+Classic);

/* General website component styling */
nav > ul {
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav > ul > li {
    float: left;
}

nav > ul > li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: ghostwhite;
}

nav > ul > li a:hover {
    background-color: cyan;
}

body {
    margin: 2rem;
}

.website-header {
    background-color: yellow;
}

/* Home page styling */
#heart {
    background-color: palevioletred;
}

#website-title{
    font-family: 'Casey Classic';
}

.calculator-box {
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
  }

  .box-component, .middle-component {
    color: white;
  }

  .middle-box {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }

  .text-box {
    width: 150px;
  }

/*About us page styling */
.about-us {
    background-color: green;
}

/* Calculator display styling */
.calculator{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart-shape{
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
    animation-iteration-count: 5.0;
}

@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.5);
    }

    80%{
        transform: rotate(-45deg) scale(2.0);
    }

    100%{
        transform: rotate(-45deg) scale(1.0);
    }
}

.heart-shape:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px #f20044;
}

.heart-shape:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px #f20044;
}