/* General website component styling */
nav > ul {
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav > ul > li {
    float: left;
}

nav > ul > li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: pink;
}

nav > ul > li a:hover {
    background-color: cyan;
}

body {
    margin: 2rem;
}

.website-header {
    background-color: yellow;
}

/* Home page styling */
.calculator-box {
    background-color: blue;
}

/*About us page styling */
.about-us {
    background-color: green;
}
